# Virtual Environment
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Databases (We use Postgres, so we ignore the local SQLite file)
db.sqlite3

# Environment variables (Where we will eventually hide passwords)
.env

# Windows system files
Thumbs.db
desktop.ini